<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Parity Cube -IOS Assignment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E23C3A101CE992420008EECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E23C3A291CE9924C0008EECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E23C3A341CE9924C0008EECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
